In [15]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [16]:
#load the dataset
data=pd.read_csv("BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(obs[0],obs[1])
p_value

F_onewayResult(statistic=12.841384359570121, pvalue=0.011594334372357063)